NEXT_PUBLIC_SUPABASE_URL=https://unrcigghtbqrblkmcrgu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVucmNpZ2dodGJxcmJsa21jcmd1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1NDc5MzUsImV4cCI6MjA4OTEyMzkzNX0.jQd_xv5kKPzyZsGTHo7hVuUuzkP8kiOcOjXYSioD5vI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVucmNpZ2dodGJxcmJsa21jcmd1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzU0NzkzNSwiZXhwIjoyMDg5MTIzOTM1fQ.Rfpxc0K-cYzKJBzFFxeyVTV_7FtmcaNXUn0wXdQjkBY
